# Logs
FE/logs
FE/*.log
FE/npm-debug.log*
FE/yarn-debug.log*
FE/yarn-error.log*
FE/pnpm-debug.log*
FE/lerna-debug.log*

FE/node_modules
FE/dist
FE/dist-ssr
FE/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
